*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ibarra Real Nova', serif;
}

.login-main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.back-btn{
  background-color: white;
  color: #002855;
  font-size: 30px;
  width: 10%;
  height: 100%;
}

.header-logo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-section{
  height: 80vh;
  width: 90%;
}

.login-header{
  color: #002855;
  display: flex;
  height: 20vh;
  width: 90%;
}

.login-form{
  display: flex;
  flex-direction: column;
}

button, input{
  border: none;
  border-radius: 5px;
}

.login-btn{
  background-color: #002855;
  color: #fafafa;
  height: 50px;
  /* margin-top: 10px; */
}

.login-label{
  color: #002855;
}

.login-input{
  background-color: #dcdfe5;
  margin-bottom: 10px;
  height: 50px;
  font-size: 30px;
}

.login-a{
  margin-bottom: 10px;
}

.redirect-cadastro{
  text-align: center;
}

i{
  margin-top: auto;
  margin-bottom: auto;
}