
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

* {
	font-family: 'Ibarra Real Nova', serif;
}

@media (max-width: 900px){

    .rodape{ 
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #dcdfe5;
        color: #002855;
        width: 100%;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
    h3{
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1.5vh;
    }
    p{
        font-size: 2vh;
        font-weight: bold;
    }
    .copyright{
        display: flex;
        justify-content:center;
        font-size: 2vh;
        font-weight: bold;
        padding-bottom: 1.5vh;
        
    }
    .fa-copyright{
        font-size: 1.5vh;
        margin-top: 3.5px;
        margin-right: 2px;
    }
    .fa-github{
        font-size: 5vh;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        margin: auto;
        
    }
    .desenvolvedores{
        display: grid;
        justify-items:  center; 
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        line-height: normal;
    }
    .logo-rodape{
        height: 32px;
        width: auto;
        margin-top: 1.5vh;
        margin: auto;
        padding-top: 1vh;
    }

}
