
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

* {
	font-family: 'Ibarra Real Nova', serif;
}

@media (max-width: 900px){

    .rodape{
        display: grid;
        justify-items:  center; 
        background-color: #dcdfe5;
        color: #002855;
        width: 100%;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
    h1{
        font-size: 3vh;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1.5vh;
    }
    p{
        font-size: 2vh;
        font-weight: bold;
    }
    .copyright{
        display: flex;
        justify-items: start;
        font-size: 2vh;
        font-weight: bold;
        margin: 0;
    }
    .fa-copyright{
        font-size: 1.5vh;
        margin-top: 3.5px;
        margin-right: 2px;
    }
    .fa-github{
        font-size: 5vh;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
    .desenvolvedores{
        display: grid;
        justify-items:  center; 
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        line-height: normal;
    }
    img{
        height: 5vh;
        width: 5vh;
        margin-top: 1.5vh;
    }

}
